<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72412029840-eb2u6nl0cv0laij029iv6f4oiqlfg2k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72412029840-eb2u6nl0cv0laij029iv6f4oiqlfg2k8</string>
	<key>API_KEY</key>
	<string>AIzaSyADqmZlJfjoSoqB6wpz5MODNDbNh07I6PI</string>
	<key>GCM_SENDER_ID</key>
	<string>72412029840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stat</string>
	<key>PROJECT_ID</key>
	<string>stat-tracker-team-gen</string>
	<key>STORAGE_BUCKET</key>
	<string>stat-tracker-team-gen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72412029840:ios:e770fc7fdf39c86c5b4915</string>
</dict>
</plist>